<table name="links" width="100%">
    <tr>
        <td width="20%">
            <%= link_to "Главная" ,'/index' %>
        </td>
        <td width="20%">
            <%= link_to "Каталог" ,'/collection/show' %>
        </td>
        <td width="20%">
            <%= link_to  "Новости",'/blog/index' %>
        </td>
        <td width="20%">
            <%= link_to  "Клиентам" ,'/page/klientam'%>
        </td>
        <td width="20%">
            <%= link_to  "Личный Кабинет" ,'/client_account/show'%>
        </td>
    </tr>
    
</table>