<p id="notice"><%= notice %></p>

<h3>Администраторы:</h3>
<table>
  <thead>
    <tr>
      <th>ИД</th>
      <th>Почта</th>
      <th >Последний логин</th>
      <th >Последний IP</th>
      <th >Почта подтверждена</th>
      <th ></th>
    </tr>
  </thead>
  <tbody>
      <% @admins.each do |a| %>
      <tr  >
        <td><%= a.id %></td>
        <td><%= a.email %></td>
        <td ><%= a.last_sign_in_at %></td>
        <td ><%= a.last_sign_in_ip %></td>
        <td ><%= a.confirmed_at %></td>
        <td >
        <%= link_to t('.update'), controller: "registrations", action: "edit", id: a %>
        <%= link_to "delete",  {controller: "registrations", action: "remove", id: a},  method: :delete, data: { confirm: "are_you_sure" }  %>
      
        </td>
      </tr>

     <% end %>
  </tbody>

</table>

  <p>
     <%= link_to t("layouts.admin.new"), new_admin_registration_path %>
  </p>
