<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <script>
      $(document).foundation();
    </script> 
    
    <div class="expanded row ">
     <% if admin_admin_signed_in? %>
      <li>
      <%= link_to('Logout', destroy_admin_admin_session_path, method: :delete) %>        
      </li>
    <% else %>
      <li>
      <%= link_to('Login', new_admin_admin_session_path)  %>  
      </li>
    <% end %> 
    </div>
    <div class="expanded row "> 

        <br>
        
  <div class="expanded row "> 
      

       <%= yield :sidebar %>  
        <%= yield %>
  
  </div>

  </body>
</html>
