<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>

    <%= javascript_include_tag :modernizr %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <script>
      $(document).foundation();
    </script> 
    
    <div class="expanded row ">
    <span class=" float-right">
      <i class="fi-check"></i>
       <h5 class="cart-text"><%= render 'layouts/cart_text' %></h5>
      </span>  
    </div>
    <div class="expanded row "> 

        <br>
        
  <div class="expanded row "> 
      

       <%= yield :sidebar %>  
        <%= yield %>
  
  </div>

  </body>
</html>
